.loginScreen {
  position: relative;
  height: 100%;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/d9cb1eea-62ee-4ec1-9b90-8d98874b8867/c1a78ec0-a2a8-43ff-8118-d11f0da72d69/IN-en-20210817-popsignuptwoweeks-perspective_alpha_website_large.jpg")
    center no-repeat;
}

.loginScreen__body > h1 {
  font-size: 3.125rem;
  margin-bottom: 20px;
  animation-name: moveInLeftHeader;
  animation-duration: 3s;
}

.loginScreen__body > h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 30px;
  animation-name: moveInLeftHeader;
  animation-duration: 3s;
}

.loginScreen__body > h3 {
  font-size: 1.3rem;
  font-weight: 400;
  animation-name: moveInLeftHeader;
  animation-duration: 3s;
}

.loginScreen__body {
  position: absolute;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 1;
  color: #fff;
  padding: 20px;
  left: 0;
  right: 0;
}

.loginScreen__gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0) 100%
  );
}

.loginScreen__button {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border-radius: 5px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.loginScreen__button:hover {
  background-color: #d11f28f5;
  top: 22px;
}

.loginScreen__logo {
  position: fixed;
  left: 0;
  width: 150px;
  object-fit: contain;
  padding-left: 20px;
  transition: all 0.2s;
}

.loginScreen__logo:hover {
  transform: scaleX(1.3);
}

.loginScreen__input > form > input {
  padding: 26px;
  outline-width: 0;
  height: 25px;
  width: 30%;
  border: none "";
  max-width: 600px;
}

.loginScreen__input {
  margin: 20px;
  animation-name: moveOnTop;
  animation-duration: 3s;
}

.loginScreen__getStarted {
  padding: 31px 37px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

@keyframes moveInLeftHeader {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveOnTop {
  0% {
    opacity: 0;
    transform: translateY(130px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 900px) {
  .loginScreen__body h1 {
    font-size: 2rem;
  }
  .loginScreen__body h2 {
    font-size: 1.2rem;
  }
  .loginScreen__body h3 {
    font-size: 1rem;
  }
  .loginScreen__input > form > input {
    padding: 15px;
  }
  .loginScreen__getStarted {
    padding: 21px 25px;
  }
}

@media screen and (max-width: 700px) {
  .loginScreen__input > form > input {
    padding: 9px;
  }
  .loginScreen__getStarted {
    padding: 13px 18px;
  }
}

@media screen and (maa-width: 600px) {
  .loginScreen__body h1 {
    font-size: 30px;
  }
  .loginScreen__body h2 {
    font-size: 1.2rem;
  }
  .loginScreen__body h3 {
    font-size: 1rem;
  }
  .loginScreen__input > form > input {
    padding: 10px;
  }
  .loginScreen__getStarted {
    padding: 14px 13px;
  }
}
